:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  min-width: 0px;
}

.container {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 10px;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

#input-container {
  position: relative;
}

#input-container > span {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 12px;
}

#input-container > input {
  padding-left: 40px;
  font-size: 14px;
}

.icon-card {
  border: 2px solid #444;
  cursor: pointer;
}

.icon-card:hover {
  border-color: #396cd8;
}
.icon-card:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

/* 
Table Styles 
*/

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

/*
dialog
*/

.button {
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsl(204 10% 10% / 0.1);
  color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;

  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  --border: rgba(0, 0, 0, 0.1);
  --highlight: rgba(255, 255, 255, 0.2);
  --shadow: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px var(--border), inset 0 2px 0 var(--highlight),
    inset 0 -1px 0 var(--shadow), 0 1px 1px var(--shadow);
  font-weight: 500;
}

.button:hover {
  background-color: #333;
}

.button[aria-disabled="true"] {
  opacity: 0.5;
}

.button[aria-expanded="true"] {
  background-color: #333;
}

.button[data-focus-visible] {
  outline-style: solid;
}

.button:active,
.button[data-active] {
  padding-top: 0.125rem;
  box-shadow: inset 0 0 0 1px var(--border), inset 0 2px 0 var(--border);
}

:is(.dark .button) {
  background-color: #333;
  color: hsl(204 20% 100%);
  --shadow: rgba(0, 0, 0, 0.25);
  --border: rgba(255, 255, 255, 0.1);
  --highlight: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px var(--border), inset 0 -1px 0 1px var(--shadow),
    inset 0 1px 0 var(--highlight);
}

:is(.dark .button:hover) {
  background-color: hsl(204 20% 100% / 0.1);
}

:is(.dark .button)[aria-expanded="true"] {
  background-color: hsl(204 20% 100% / 0.1);
}

:is(.dark .button:active),
:is(.dark .button[data-active]) {
  box-shadow: inset 0 0 0 1px var(--border), inset 0 1px 1px 1px var(--shadow);
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}

.backdrop {
  background-color: hsl(204 10% 10% / 0.1);

  opacity: 0;
  transition-property: opacity, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  backdrop-filter: blur(0);
}

:is(.dark .backdrop) {
  background-color: hsl(204 10% 10% / 0.5);
}

.dialog {
  position: fixed;
  inset: 0.75rem;
  z-index: 50;
  margin: auto;
  display: flex;
  height: fit-content;
  max-height: calc(100vh - 2 * 0.75rem);
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  border-radius: 0.75rem;
  background-color: #222;
  padding: 1rem;
  color: #ffffff;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transform-origin: center;
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform: scale(0.95);
}

:is(.dark .dialog) {
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 3% 26%);
  background-color: hsl(204 3% 18%);
  color: hsl(204 20% 100%);
}

@media (min-width: 640px) {
  .dialog {
    top: 10vh;
    bottom: 10vh;
    margin-top: 0px;
    max-height: 80vh;
    width: 420px;
    border-radius: 1rem;
    padding: 1.5rem;
  }
}

.heading {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.backdrop[data-enter] {
  opacity: 1;
  backdrop-filter: blur(4px);
}

.dialog[data-enter] {
  opacity: 1;
  transform: scale(1);
}

// UTILITY- CLASSES

.flex {
  display: flex;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.flex-start {
  align-items: flex-start;
}

.col {
  flex-direction: column;
}
